@charset "utf-8";
/* CSS Document */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

body,
html{
	margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body,
td,
th,
p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover,
a:focus{
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

main{
  background-color: #f3f3f3;
}

footer {
  background-color: #444;
  color: #fff;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}


/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
}

nav h1 {
  margin: 0;
}

nav h1 a {
  color: #fff;
  font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
	padding: 20px;
  display: block;
}

.breadcrumb-container{
	background-color: #eee;
}

.breadcrumb {
  padding: 10px;
  list-style: none;
  font-size: 0.9em;
  margin: 0;
	width: 100%;
  text-align: left;
}

/* Display list items side by side */
.breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before {
  padding: 8px 8px 8px 0px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb li a {
  color: #006cc9;
  text-decoration: none;
  padding: 20px;
}

/* Add a color on mouse-over */
.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


/* ====================== Map ====================== */
.map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}


/* ====================== Restaurant Filtering ====================== */
.filter-options-container {
  width: 100%;
  background-color: #005e8f;
}

.filter-options{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.filter-options h2 {
  color: white;
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
	padding: 20px 20px 0;
	margin: 0;
	width: 100%;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1.1em;
  height: 48px;
  letter-spacing: 0;
  margin: 20px;
  padding: 0 10px;
  width: 100%;
}


/* ====================== Restaurant Listing ====================== */
.restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 0 60px;
  text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 0 20px 20px;
  min-height: 380px;
  padding: 30px 25px;
  text-align: left;
  max-width: 300px;
}

.restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
}

.restaurant-img source,
.restaurant-img img{
	max-width: 100%;
}

.restaurants-list li h2 {
  color: #7d4f00;
  font-family: Arial,sans-serif;
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
  height: 2.6em;
}
.restaurants-list p {
  margin: 0;
  font-size: 1.1em;
	height: 1.5em;
}

.restaurants-list li p:last-of-type{
	height: 3em;
}

.restaurants-list li > a,
.reviews-form input[type='submit']{
  background-color: #a56900;
	color: #fff;
  font-size: 1em;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
	display: block;
}

.restaurants-list li h2 a{
  color: #a56900;
}

.restaurants-list li > a:hover,
.restaurants-list li > a:focus,
.filter-options select:hover,
.filter-options select:focus,
.breadcrumb li a:hover,
.breadcrumb li a:focus,
.reviews-form input[type='submit']:hover,
.reviews-form input[type='submit']:focus{
	outline: 2px solid red;
	-webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2), -2px -2px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2), -2px -2px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2), -2px -2px 10px 0px rgba(0,0,0,0.2);
}


/* ====================== Restaurant Details ====================== */
.inside main{
	display: flex;
	flex-wrap: wrap;
	background-color: #fdfdfd;
}

.inside .map-container {
	width: 100%;
  background: blue none repeat scroll 0 0;
	-webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.1), -2px 2px 4px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.1), -2px 2px 4px 0px rgba(0,0,0,0.1);
	box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.1), -2px 2px 4px 0px rgba(0,0,0,0.1);

}

.inside .map {
  background-color: #ccc;
  width: 100%;
}

.restaurant-name {
  color: #df7800;
  font-family: Arial,sans-serif;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

.restaurant-img {
	max-width: 100%;
}

.restaurant-address {
  font-size: 1.2em;
  margin: 10px 0px;
}

.restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

.restaurant-container,
.reviews-container {
  padding: 40px 30px;
	width: 100%;
}

.reviews-container h3 {
  color: #df7800;
  font-size: 2.4em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

.reviews-list {
  margin: 0;
  padding: 0;
}

.reviews-list li, .reviews-form{
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px 20px;
  position: relative;
	-webkit-box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.1), -1px 3px 4px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.1), -1px 3px 4px 0px rgba(0,0,0,0.1);
	box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.1), -1px 3px 4px 0px rgba(0,0,0,0.1);
}

.reviews-form label{
  display: block;
}

.reviews-form span{
  margin-right: 5px;
}

.reviews-form input{
  margin-bottom:24px;
}

.reviews-form input[type='radio']{
  margin-top: 5px;
}

.reviews-form input[type='text'],
.reviews-form textarea{
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  font-size: 1.3em;
}

.reviews-form input[type='submit']{
  width: 100%;
  border: none;
}

.reviews-list li p {
  margin: 0 0 10px;
}

.restaurant-hours{
	margin-bottom: 20px;
}

.restaurant-hours td {
  color: #666;
}


/* ====================== Footer ====================== */
footer a{
	padding: 20px 0;
}


/* ====================== Responsive Header Box ====================== */
@media screen and (min-width: 365px) {
	nav h1 a{
		font-size: 1.4em;
	}
}

/* ====================== Responsive Filter Results Box ====================== */
@media screen and (min-width: 450px) {
	.filter-options select{
    width: calc((100% - 80px)/2);
	}
}

@media screen and (min-width: 640px) {
	.filter-options h2{
		padding: 0 20px;
		width: auto;
	}

	.filter-options select{
		width: 200px;
	}
}


/* ====================== Responsive Restaurant Lists Box ====================== */
@media screen and (min-width: 697px) {
	.restaurants-list {
		justify-content: flex-start;
	}

	.restaurants-list,
	.filter-options {
		width: 697px;
		margin: 0 auto;
	}

}

@media screen and (min-width: 1037px) {
	.restaurants-list,
	.filter-options {
		width: 1037px;
	}
}

@media screen and (min-width: 1377px) {
	.restaurants-list,
	.filter-options {
		width: 1377px;
	}
}

@media screen and (min-width: 1717px) {
	.restaurants-list,
	.filter-options {
		width: 1717px;
	}
}


/* ====================== Responsive Restaurant Details ====================== */
@media screen and (min-width: 350px) {
	.breadcrumb {
	  padding: 20px;
	  font-size: 1em;
	}
}

@media screen and (min-width: 750px) {
	.inside .restaurant-container,
	.inside .reviews-container{
		width: 50%;
	}
}

@media screen and (min-width: 1200px) {
	.inside main,
	.breadcrumb {
		width: 1200px;
		margin: 0 auto;
	}
}
